.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    padding: 10px;
}

.dialog {
    color: black;   
}

.active {
    color: white;
}

.messages {
    padding: 10px    
}

.messages .message {

}